/* ------------------------------- BASE STYLES ------------------------------ */
body {
  background-image: linear-gradient(to left bottom, #b3e0e3, #d79ce0);
  color: darkslategrey;
  font-weight: 400;
}
.big-border {
  border: none;
  border-bottom: 2px solid darkslategrey !important;
}
.btn {
  color: darkslategray;
  border: 1px solid darkslategray;
}
.btn-hover:hover {
  background-color: darkslategrey;
  color: #fff;
  border: 1px solid transparent;
}
hr {
  opacity: 0.75;
}

/* ----------------------------- PRODUCTS IMAGE ----------------------------- */
.product-images {
  position: relative;
}
.sale-logo {
  position: absolute;
  left: 70px;
  top: -30px;
}

@media (max-width: 668px) {
  .sale-logo {
    left: -10px;
    top: -20px;
  }
}

/* --------------------------------- PRICING -------------------------------- */
.pricing h6 {
  font-size: 1.2rem;
  font-weight: 600;
}

/* -------------------------------- LIST ITEM ------------------------------- */
.list-item {
  padding: 3px;
}
.list-item:not(:last-child) {
  margin-bottom: 5px;
  border-bottom: 1px solid lightslategray;
}

/* ------------------------------- PROMO CODE ------------------------------- */
.promo-code button {
  background-color: darkslategray;
}
